{% extends "main.html" %}

{% block content %}
   <div class="container">
      <h2 class="mt-4 mb-4">User Cards</h2>
      <table class='table custom-table'>
         <thead class="thread-dark">
            <tr>
               <th>Email</th>
               <th>First Name</th>
               <th>Second Name</th>
               <th>Phone Number</th>
               <th>About</th>
               <th>Is Visible</th>
            </tr>
         </thead>
         <tbody>
            {% for card in cards %}
               {% if card.is_visible %}
                  <tr> 
                     <td>{{ card.email }}</td>
                     <td>{{ card.first_name }}</td>
                     <td>{{ card.last_name }}</td>
                     <td>{{ card.phone_number }}</td>
                     <td>{{ card.about }}</td>
                     <td>{{ card.is_visible }}</td>
                  </tr>
               {% endif %}
            {% endfor %}
         </tbody>
      </table>
   </div>
{% endblock content %}