.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.login-form, .registration-form {
    max-width: 450px;
}

body {
    background-color: #2d3338; 
    background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.1) 0,
        rgba(255, 255, 255, 0.2) 1px,
        transparent 2px,
        transparent 50%
    );
    background-size: 650px 650px;

}



.card {
    backdrop-filter: blur(9px); /* Adjust the blur intensity as needed */
    background-color: rgba(33, 37, 41, 0); /* Semi-transparent background to enhance the blur effect */
}

.tech-icon {
    height: 10px;
}