{% extends "main.html" %}

{% block content %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h2>Login Form</h2>
    <table>
        <tr>
            <th><label for="id_username">Email address:</label></th>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <th><label for="id_password">Password:</label></th>
            <td>{{ form.password }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><button type="submit">Login</button>
        </tr>
    </table>
</form>
<p><a href="{% url 'registration' %}">Register here</a></p>
{% endblock %}
