{% extends "main.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="login-form border rounded p-3">
        <h2>Passwod change</h2>
        <form method="post">
            {% csrf_token %}
            <div>
            {% if form.errors %}
                <p class="errornote">
                Please correct the error below.Please correct the errors below.
                </p>
            {% endif %}
            
            
            <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
            
            <fieldset class="module aligned wide">
            
            <div class="form-row">
                {{ form.old_password.errors }}
                <div class="flex-container">{{ form.old_password|as_crispy_field }}</div>
            </div>
            
            <div class="form-row">
                {{ form.new_password1.errors }}
                <div class="flex-container">{{ form.new_password1|as_crispy_field }}</div>

            </div>
            
            <div class="form-row">
                {{ form.new_password2.errors }}
                <div class="flex-container">{{ form.new_password2|as_crispy_field }}</div>
                {% if form.new_password2.help_text %}
                <div class="help"{% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                {% endif %}
            </div>
            
            </fieldset>
            
            <div class="submit-row">
                <input type="submit" value="Change my password" class="btn btn-success btn-block">
            </div>
            
            </div>
        </form>
    </div>
</div>
{% endblock content %}